<section id="section-home" class="section">
    <header>
        <nav style="background: rgba(0,0,0, 0.6)" id="topNav" class="navbar navbar-expand-lg navbar-dark fixed-top">
                <a href="" class="navbar-brand"><img style="width: 60px; height: auto;" src="../img/roswell-logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNav" aria-controls="myNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="myNav" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav ml-auto" id="nav-menu-list">
                        <li class="nav-item"><a href="/#section-home" class="nav-link">Home</a></li>
                        <li class="nav-item"><a href="/#section-crew" class="nav-link">Le crew</a></li>
                        <li class="nav-item"><a href="/#section-newsletter" class="nav-link">Nous rejoindre</a></li>
                    </ul>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <ul class="nav navbar-nav ml-auto" id="social-icon-gp">
                        <li class="nav-item"><a href="{{ path('admin') }}"><img src="../img/admin.png" alt=""></a></li>
                        <li class="nav-item"><a href="{{ path('logout') }}"><img src="../img/logout.png" alt=""></a></li>
                    </ul>
                    {% endif %}
                    <ul class="nav navbar-nav ml-auto" id="social-icon-gp">
                        <li class="nav-item"><img style="cursor: pointer;" id="playpausebtn" onclick="videoFunction()" src="../img/pause.png"></li>
                        <li class="nav-item"><img style="cursor: pointer;" id="volumebtn" onclick="volumeFunction()" src="../img/volume-off.png"></li>

                    </ul>
                    <ul class="nav navbar-nav ml-auto" id="social-icon-gp">
                        <li class="nav-item"><a href="https://www.facebook.com/RoswellBdx/" class="nav-link"><img src="../img/facebook-logo.png" alt=""></a></li>
                        <li class="nav-item"><a href="https://www.instagram.com/roswell.bdx/" class="nav-link"><img src="../img/instagram.png" alt=""></a></li>
                        <li class="nav-item"><a href="https://soundcloud.com/user-831790010" class="nav-link"><img src="../img/soundcloud-logo.png" alt=""></a></li>
                        <li class="nav-item"><a href="https://www.youtube.com/channel/UCsKH136AsEt-s0R_jG6yl2Q" class="nav-link"><img src="../img/youtube.png" alt=""></a></li>
                    </ul>
                </div>
        </nav>
        <div class="position-relative">
            <div class="video-text text-center">
                <div id="video-text-title">
                    <span>V</span>
                    <span>E</span>
                    <span>R</span>
                    <span>T</span>
                    <span>I</span>
                    <span>G</span>
                    <span>O</span>
                    <h5>FREESTYLE</h5>
                </div>

                {#<a class="bttn-dark ml-5 ">Découvrir</a>#}
            </div>

            <div class="embed-responsive embed-responsive-16by9">
            <video id="videobanner" autoplay muted loop src="../media/vertigo.mp4">
                Your browser does not support HTML5 video.
            </video>
            </div>
            {#<img src="../img/header.jpg" alt="" class="img-fluid">#}
            <div style="background: rgba(0,0,0,0.3); top: 0; left: 0; width: 100%; height: 100%;" class="position-absolute"></div>
        </div>
    </header>
</section>
